/* common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    margin: 0px;
    padding: 0px;
}

/* Nav Bar */


.navbar{
    
    position: fixed;
}
.nav-icon{
    display: flex;
    gap: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 5px 50px;
    color: #E55473;
}
nav button{
    padding: 10px 20px;
    font-size: medium;
    background-color: #E55473;
    color: white;
    font-weight: 500;
    border: none;
    margin-left: 5px;
}
nav input{
    padding: 10px;
    border: solid #E55473 2px;
    border-radius: 2px;
}


.primary-color {
    color: #E55473;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 35px;

}


/* header related styles */
.header {
    background-color: #e554731a;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}


.item-description {
    color: #27272799;
    font-size: 16px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.banner .profile-pic {
    width: 400px;
}

.banner-content {
    max-width: 750px;
    margin-bottom: 20px;
}


/* Sale Section styles */
.sale-container {
    background: #E554731A;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 100px 0px 0px;
    padding: 50px 100px;
}



.item-title {
    font-size: 40px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 16px;
}

/* featured flower */

.flower-heading{
    text-align: center;
    padding-bottom: 50px;
}

.featured-flower-container{
    margin: 100px;
}


.flower-div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.flower-div div{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    align-items: flex-end;
}

.flower-box{
    display: flex;
    flex-direction: column;
}

.img-f-1{
    width: 60%;
    height: 80%;
}

.img-f-2{
    width: 80%;
    height: 80%;
    padding-bottom: 30px;
}

.img-f-3{
    width: 60%;
    height: 90%;
}


.flower-div div h5 {
    color: #272727d7;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-decoration-line: underline;
}


/* Footer */

.footer-column {
    padding: 130px;
    background-color: #111010;
    text-align: center;

}

.footer-item-description {
    color: #ffffff66;
    font-size: 16px;
}

.footer-item-heading {
    color: #fffff6e6;
    font-size: 18px;
    font-weight: 400;
}



/* Instagram */

.inst-section{
    margin: 50px 100px 100px;
}


.inst-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.inst-pic img{
    width: auto;
    height: 300px;
}

.inst-header{
    text-align: center;
    padding: 30px;
}


/* Subscribe Section */

.sub-container{
    margin: 0px 100px 100px;
    display: flex;
    background-image: url('../flower-asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px;
    border-radius: 10px;
    
}

.email-primary {
    padding: 0px  0px 0px 20px;
    width: 600px;
    height: 55px;  
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
}


.sub-header{
    padding: 0px 0px 20px;
    text-align: center;
}


/* Service section */

.service-container{
    margin: 0px 100px 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
}

.service-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.service-div h5{
    color: #272727cc;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;

}