/* common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.primary-color{
    color: #E55473;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    
}


/* header related styles */
.header {
    background-color: #e554731a;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}


.banner-description {
    color: #27272799;
    font-size: 16px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.banner .profile-pic {
    width: 400px;
}
.banner-content {
    max-width: 750px;
    margin-bottom: 20px;
}


/* Sale Section styles */
.sale-container {
    background: #E554731A;
    display: flex;
    gap: 50px;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 100px 0px;
    padding: 50px 200px;
}

.sale-column {

}

.sale-item-title{
    font-size: 40px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 16px;
}